[submodule "02/libs/SDL"]
	path = 02/libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "03/libs/SDL"]
	path = 03/libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "04/libs/SDL"]
	path = 04/libs/SDL
	url = https://github.com/libsdl-org/SDL
